@font-face {
  font-family: 'bnpp_sansbold_italic';
  src: url('../fonts/bnpp-sans-bold-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bnpp-sans-bold-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bnpp-sans-bold-italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bnpp-sans-bold-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bnpp-sans-bold-italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'bnpp_sansbold';
  src: url('../fonts/bnpp-sans-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bnpp-sans-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bnpp-sans-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bnpp-sans-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bnpp-sans-bold.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'bnpp_sansextra_bold_italic';
  src: url('../fonts/bnpp-sans-extrabold-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bnpp-sans-extrabold-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bnpp-sans-extrabold-italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bnpp-sans-extrabold-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bnpp-sans-extrabold-italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'bnpp_sansextra_bold';
  src: url('../fonts/bnpp-sans-extrabold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bnpp-sans-extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bnpp-sans-extrabold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bnpp-sans-extrabold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bnpp-sans-extrabold.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'bnpp_sansitalic';
  src: url('../fonts/bnpp-sans-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bnpp-sans-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bnpp-sans-italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bnpp-sans-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bnpp-sans-italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'bnpp_sanslight_italic';
  src: url('../fonts/bnpp-sans-light-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bnpp-sans-light-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bnpp-sans-light-italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bnpp-sans-light-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bnpp-sans-light-italic.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'bnpp_sanslight';
  src: url('../fonts/bnpp-sans-light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bnpp-sans-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bnpp-sans-light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bnpp-sans-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bnpp-sans-light.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'bnpp_sansregular';
  src: url('../fonts/bnpp-sans.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bnpp-sans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bnpp-sans.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bnpp-sans.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bnpp-sans.svg') format('svg'); /* Legacy iOS */
}
